.drawer{
  position: fixed;
  width: auto;
  height: 100vh;
  background-color: $primary_color;
  top: 0;
  z-index: 500;
  &.right{
    right: 0;
    .btn-close{
      left: -35px;
      top: 0px;
      padding-left: 13px;
      padding-right: 13px;
    }
  }

  &.left{
    left: 0;
    .btn-close{
      right: -25px;
    }
  }

  .btn-close{
    position: absolute;
  }

  .card-body{
    height: 94vh;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 3px;
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: $primary_color;
      outline: 1px solid slategrey;
    }
  }
}
